<a href="https://colab.research.google.com/github/Gyany29/gyany_29/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mount Google Drive

In [88]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Import Libraries

In [89]:
import numpy as np
import math as mt
import random
import pandas as pd

#Load Data

In [90]:
data = pd.read_csv('/content/drive/MyDrive/assi5.csv')
data

            Date   Time   Load (kW)
0     01.09.2018  00:00  5551.82208
1            NaN  01:00  4983.17184
2            NaN  02:00  4888.39680
3            NaN  03:00  5072.95872
4            NaN  04:00  5196.25980
...          ...    ...         ...
2179         NaN  19:00  4626.51840
2180         NaN  20:00  4567.90752
2181         NaN  21:00  4723.63164
2182         NaN  22:00  5150.27520
2183         NaN  23:00  6938.37468

[2184 rows x 3 columns]

In [91]:
X1=[]
X2=[]
X3=[]
Y=[]
data=data['Load (kW)']
for i in range(3,data.shape[0]):
     X1.append(data.iloc[i-3])
     X2.append(data.iloc[i-2])
     X3.append(data.iloc[i-1])
     Y.append(data.iloc[i])

In [92]:
data=pd.DataFrame({'L-3':X1,'L-2':X2,'L-1':X3,'L':Y})
data.head()

          L-3         L-2         L-1           L
0  5551.82208  4983.17184  4888.39680  5072.95872
1  4983.17184  4888.39680  5072.95872  5196.25980
2  4888.39680  5072.95872  5196.25980  5641.29720
3  5072.95872  5196.25980  5641.29720  7153.17732
4  5196.25980  5641.29720  7153.17732  7849.80504

#Normalization

In [93]:
lt_3Max=np.max(X1)
lt_2Max=np.max(X2)
lt_1Max=np.max(X3)
lt_0Max=np.max(Y)
lt_3Min=np.min(X1)
lt_2Min=np.min(X2)
lt_1Min=np.min(X3)
lt_0Min=np.min(Y)

In [94]:
def normalize(column):
    c_max,c_min=np.max(column),np.min(column)
    for i in range(len(column)):
        column.iloc[i]=(column.iloc[i]-c_min)/(c_max-c_min)
    return c_max,c_min
x1max,x1min=normalize(data['L-3'])
x2max,x2min=normalize(data['L-2'])
x3max,x3min=normalize(data['L-1'])
ymax,ymin=normalize(data['L'])
data.head()

        L-3       L-2       L-1         L
0  0.397877  0.293800  0.276454  0.310234
1  0.293800  0.276454  0.310234  0.332801
2  0.276454  0.310234  0.332801  0.414254
3  0.310234  0.332801  0.414254  0.690965
4  0.332801  0.414254  0.690965  0.818465

#Missing Values Treatment

In [95]:
print(data.isnull().sum())

L-3    0
L-2    0
L-1    0
L      0
dtype: int64

#Data Split

In [96]:
from sklearn.model_selection import train_test_split
X=data[['L-3','L-2','L-1']]
Y=data['L']
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.1,random_state=101)

#Gradient Calculation

In [97]:
def gradient(m1,m2,m3,c,x1,x2,x3,y):
    m1_deriv=-1*(y-m1*x1-m2*x2-m3*x3-c)*x1
    m2_deriv=-1*(y-m1*x1-m2*x2-m3*x3-c)*x2
    m3_deriv=-1*(y-m1*x1-m2*x2-m3*x3-c)*x3
    c_deriv=-1*(y-m1*x1-m2*x2-m3*x3-c)
    return m1_deriv,m2_deriv,m3_deriv,c_deriv

#Initialization

In [107]:
import random
m1=random.uniform(-10,10)
m2=random.uniform(-10,10)
m3=random.uniform(-10,10)
c=random.uniform(-10,10)
eta=0.01
max_iter=500

#Training Using Stochastic Gradient Descent Optimizer

In [108]:
for iter in range(max_iter):
    for i in range(x_train.shape[0]):
        del_m1,del_m2,del_m3,del_c=gradient(m1,m2,m3,c,x_train.iat[i,0],x_train.iat[i,1],x_train.iat[i,2],y_train.iloc[i])
        m1=m1-eta*del_m1
        m2=m2-eta*del_m2
        m3=m3-eta*del_m3
        c=c-eta*del_c
print('model parameter m and c',m1,m2,m3,c)

model parameter m and c -0.22572338347239826 0.017796897498239074 0.8789895836189366 0.15379276582901066

#Model Prediction on Training Data

In [109]:
y_pred_train = []
for i in range(x_train.shape[0]):
    y_p_tr = (m1 * x_train.iat[sample,0]) + c + (m2 *x_train.iat[sample,1] )+(m3*x_train.iat[sample,2])
    y_pred_train.append(y_pred)
y_pred_train = np.array(y_pred_train)

#Model Prediction on Testing Data

In [110]:
y_pred_test = []
for i in range(x_test.shape[0]):
    y_p_te = (m1 * Xtest.iat[sample,0]) + c + (m2 * Xtest.iat[sample,1])+(m3*Xtest.iat[sample,2])
    y_pred_test.append(y_pred)
y_pred_test = np.array(y_pred_test)

#DeNormalization

In [111]:
Xtrain['L(T-3)']=Xtrain['L(T-3)']*(x1max-x1min)+x1min
Xtrain ['L(T-2)']=Xtrain ['L(T-2)']*(x2max-x2min)+x2min
Xtrain ['L(T-1)']=Xtrain ['L(T-1)']*(x3max-x2min)+x3min
Ytrain=Ytrain*(ymax-ymin)+ymin
Xtest['L(T-3)']=Xtest['L(T-3)']*(x1max-x1min)+x1min
Xtest['L(T-3)']=Xtest['L(T-2)']*(x2max-x2min)+x2min
Xtest['L(T-3)']=Xtest['L(T-1)']*(x3max-x3min)+x3min
Ytest=Ytest*(ymax-ymin)+ymin
y_pred_train=np.multiply(y_pred_train,(ymax-ymin)+ymin)
y_pred_test=np.multiply(y_pred_test,(ymax-ymin)+ymin)

#Error Metrics Calculation

In [112]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

In [113]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_pred_train, Ytrain)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_pred_train,Ytrain)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_pred_train,Ytrain)
print('Mean absolute error', mae)

Root mean square error 996876722425676.5
Mean square error 9.937631997141592e+29
Mean absolute error 981880665890946.2

In [114]:
#Testing Accuracies
rmse = math.sqrt(mean_squared_error(y_pred_test,Ytest )) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_pred_test,Ytest))
print('Mean square error', mse) 
mae=mean_absolute_error(y_pred_test,Ytest)
print('Mean absolute error', mae)

Root mean square error 1015757955214018.5
Mean square error 1.0317642235805641e+30
Mean absolute error 998295382211575.9

#Deployment

In [115]:
X1=input('enter X1 value')
X2=input('enter X2 value')
X3=input ('enter X3 value')
print('X1=',X1)
print('X2=',X2)
print ('x3=',X3)
Y=m1*float(X1)+m2*float(X2)+m3*float(X3)+c
print('Y=',Y)

enter X1 value5000
enter X2 value4888
enter X3 value4500
X1= 5000
X2= 4888
x3= 4500
Y= 2913.981236660445