<a href="https://colab.research.google.com/github/Gyany29/gyany_29/blob/main/assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mount Google Drive

In [255]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Import Libraries

In [256]:
import pandas as pd
import numpy as np
import math as mt
import random

#Load Data

In [257]:
data=pd.read_csv('/content/drive/MyDrive/assi4.csv')
data.head()

     X    Y
0  7.6  157
1  7.1  174
2  8.2  175
3  7.5  188
4  7.4  171

#Normalization

In [258]:
maxX=np.max(data['X'])
maxY=np.max(data['Y'])
minX=np.min(data['X'])
minY=np.min(data['Y'])
normalized_x=[]
for i in range(data.shape[0]):
    normalized_x.append((data['X'][i]-minX)/(maxX-minX))
normalized_y=[]
for i in range(data.shape[0]):
    normalized_y.append((data['Y'][i]-minY)/(maxY-minY))
data['X']=normalized_x
data['Y']=normalized_y
data

           X         Y
0   0.428571  0.537445
1   0.190476  0.612335
2   0.714286  0.616740
3   0.380952  0.674009
4   0.333333  0.599119
5   0.523810  0.475771
6   0.285714  0.801762
7   0.619048  0.682819
8   0.190476  0.471366
9   0.380952  0.682819
10  0.666667  0.792952
11  0.142857  0.722467
12  0.285714  1.000000
13  0.523810  0.308370
14  0.285714  0.378855
15  0.619048  0.202643
16  0.857143  0.207048
17  0.190476  0.770925
18  0.714286  0.735683
19  0.571429  0.528634
20  0.428571  0.537445
21  1.000000  0.493392
22  0.238095  0.431718
23  0.571429  0.079295
24  0.666667  0.092511
25  0.476190  0.343612
26  0.809524  0.000000
27  0.333333  0.396476
28  0.285714  0.180617
29  0.857143  0.057269
30  0.523810  0.493392
31  0.000000  0.361233
32  0.190476  0.647577
33  0.285714  0.229075

#Missing Values Treatment

In [259]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

#Data Split

In [270]:
from sklearn.model_selection import train_test_split
dataframe = data.values
X, Y = dataframe[:,:-1], dataframe[:,-1]
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.1, random_state = 10)

#Initialization

In [261]:
import random
m1=np.random.uniform(-10,10)
c=np.random.uniform(-10,10)
eta=0.5
max_iter=1000

#Gradient Calculation

In [262]:
def gradient(m,c,x,y):
    m_deriv=-1*(y-m*x-c)*x
    c_deriv=-1*(y-m*x-c)
    return m_deriv,c_deriv

#Training Using Stochastic Gradient Descent Optimizer

In [263]:
for iter in range(max_iter):
  for sample in range(x_train.shape[0]):
    del_m1,del_c=gradient(m1, c, x_train[sample,0], y_train[sample])
    m1=m1-eta*del_m1
    c=c-eta*del_c
print('model parameter m and c',m1,c)

model parameter m and c -0.3415269221585566 0.6830609053858352

#Model Prediction on Training Data

In [264]:
y_pred_train = []
for i in x_train:
    y_pred = (m * i) + c
    y_pred_train.append(y_pred)
y_pred_train = np.array(y_pred_train)

#Model Prediction on Testing Data

In [265]:
y_pred_test = []
for i in x_test:
    y_pred = (m * i) + c
    y_pred_test.append(y_pred)
y_pred_test = np.array(y_pred_test)

#DeNormalization

In [266]:
y_pred_train=np.multiply(y_pred_train,(maxY-minY)+minY)
y_pred_test=np.multiply(y_pred_test,(maxY-minY)+minY)

#Error Metrics Calculation

In [268]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 133.80003691420765
Mean square error 17902.44987824333
Mean absolute error 131.41980223220588

In [269]:
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 123.63822220359198
Mean square error 15286.409989664786
Mean absolute error 122.18232543804433